html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 9px;
    overflow-x: hidden;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    height: 50vh;
}

body {
    background: url(https://images.unsplash.com/photo-1503951458645-643d53bfd90f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJ1aWxkaW5nc3xlbnwwfHwwfHw%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Leelawadee UI;
}

.container {
    height: 77vh;
}

.topbar {
    position: fixed;
    height: 137px;
    width: 100%;
    background-color: darkslategrey;
    margin: -232px 0;
    transition: all 0.2s ease;
}

.topbar ul {
    display: flex;
    margin: 65px 325px;
    justify-content: center;
    list-style-type: none;
}

ul li a {
    color: white;
    padding: 7px 23px;
    text-decoration: none;
    font-size: 20px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    border-top: 5px solid rgb(236, 231, 231);
    transition: all 0.4s cubic-bezier(0.26, 0.2, 0.8, 0.92);
}

ul li a:hover {
    color: aqua;
    cursor: pointer;
    border-bottom: 2px solid rgb(236, 231, 231);
    border-right: 2px solid rgb(236, 231, 231);
    border-left: 2px solid rgb(236, 231, 231);
    border-top: 15px solid rgb(236, 231, 231);
    border-radius: 8px;
    padding: 23px 23px;
}


/* ul li a {
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    border-top: 5px solid rgb(236, 231, 231);
    transition: all 0.4s ease;
}

ul li a:hover {
    color: aqua;
    cursor: pointer;
    border-bottom: 2px solid rgb(236, 231, 231);
    border-right: 2px solid rgb(236, 231, 231);
    border-left: 2px solid rgb(236, 231, 231);
    border-radius: 8px;
} */

.content {
    margin: 231px 153px;
    width: 80%;
    background: rgba(0, 0, 0, 0.385);
    color: white;
    font-size: 24px;
    text-align: center;
}

.logout-right {
    color: white;
    margin: 29px 48px;
    float: right;
    text-decoration: none;
    font-size: 21px;
}

.logout-border {
    padding: 7px 23px;
}

.f-content {
    height: 120vh;
}

.s-content {
    height: 100vh;
    background: url('https://dataart.com.ar/media/2812358/news-team-big-1600x960.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.t-content {
    height: 100vh;
    background: url('https://cdn.wallpapersafari.com/29/76/7wTsnh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.f-content {
    height: 100vh;
    background-color: rgb(175, 175, 175);
}

.fth-content {
    height: 100vh;
    background: url('https://img.freepik.com/free-photo/aerial-view-business-team_53876-124515.jpg?t=st=1654503664~exp=1654504264~hmac=f9a90be1eccdb359f831eaad2fa84955aef718e508c2517709cf7cd80390e074&w=900');
    background-size: cover;
    background-repeat: no-repeat;
}

.cont2-fh1 {
    font-weight: lighter;
    margin: 164px 0;
    float: left;
}

.cont2-color {
    color: aliceblue;
}

.welcome {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.welcome h1 {
    font-weight: lighter;
    font-size: 72px;
    filter: drop-shadow(2px 4px 6px black);
}

.getting h1 a {
    padding: 5px;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s ease;
    color: rgb(10, 141, 242);
}

.getting a:hover {
    color: #21c1c1;
}