html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Leelawadee UI;
}

.topbar {
    position: fixed;
    height: 137px;
    width: 100%;
    background-color: darkslategrey;
    margin: -232px 0;
    transition: all 0.2s ease;
}

.topbar ul {
    display: flex;
    margin: 65px 325px;
    justify-content: center;
    list-style-type: none;
}

ul li a {
    color: white;
    padding: 7px 23px;
    text-decoration: none;
    font-size: 20px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    border-top: 5px solid rgb(236, 231, 231);
    transition: all 0.4s ease;
}

ul li a:hover {
    color: aqua;
    cursor: pointer;
    border-bottom: 2px solid rgb(236, 231, 231);
    border-right: 2px solid rgb(236, 231, 231);
    border-left: 2px solid rgb(236, 231, 231);
    border-top: 15px solid rgb(236, 231, 231);
    border-radius: 8px;
    padding: 23px 23px;
}


/* ul li a {
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    border-top: 5px solid rgb(236, 231, 231);
    transition: all 0.4s ease;
}

ul li a:hover {
    color: aqua;
    cursor: pointer;
    border-bottom: 2px solid rgb(236, 231, 231);
    border-right: 2px solid rgb(236, 231, 231);
    border-left: 2px solid rgb(236, 231, 231);
    border-radius: 8px;
} */

.container {
    height: 74vh;
}

.content {
    margin: 231px 153px;
    width: 80%;
}

.logout-right {
    color: white;
    margin: 29px 48px;
    float: right;
    text-decoration: none;
    font-size: 21px;
}

.logout-border {
    padding: 7px 23px;
}

.f-content {
    height: 120vh;
}

.s-content {
    height: 100vh;
    background-color: rgb(9, 57, 57);
}

.t-content {
    height: 100vh;
    background-color: rgb(20, 34, 34);
}

.f-content {
    height: 100vh;
    background-color: rgb(175, 175, 175);
}

.fth-content {
    height: 100vh;
    background-color: rgb(9, 9, 9);
}

.cont2-fh1 {
    font-weight: lighter;
    margin: 164px 0;
    float: left;
}

.cont2-color {
    color: aliceblue;
}

.welcome {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.welcome h1 {
    font-weight: lighter;
}

.getting h1 a {
    padding: 5px;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s ease;
    color: rgb(7, 119, 205);
}

.getting a:hover {
    color: #00cafe;
    text-shadow: 2px 2px black;
    filter: drop-shadow(-29px 25px 2px rgba(0, 0, 0, 0.637));
}