/*DEFAULTING*/

body {
    background: linear-gradient(138deg, rgb(7, 0, 36), rgb(14, 220, 203));
    height: 110vh;
    overflow: hidden;
}

* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}


/*END-------------------------------------------------------*/

.home-sidebar {
    position: absolute;
    height: 100vh;
    float: left;
    width: 2em;
    background-color: #FFFFFF;
    border-right: 1px #FFFFFF;
}

.home-logo {
    height: 30px;
}

.admin-dashboard {
    color: white;
    float: left;
    height: 100vh;
    width: 20em;
    background-color: #182431e8;
}

.top-bar {
    font-family: 'Rajdhani', sans-serif;
    color: rgb(252, 250, 250);
    height: 3em;
    background-color: #182431;
    border-bottom: 1px solid white;
    box-shadow: 0 0 4px 1px rgb(247, 247, 247);
}

.top-bar h1 {
    position: absolute;
    padding: 0 0 0 40px;
    float: left;
    font-family: 'Quicksand', sans-serif;
}


/* .secondtop-bar {
    height: 48px;
    background-color: white;
    box-shadow: 0 0 4px 2px rgb(65, 65, 65);
} */


/* .head1 {
    float: left;
    font-size: medium;
    margin: 10px 0 0 0;
    padding: 10px 7.0em 2em 20px;
    font-family: 'Quicksand', sans-serif;
} */

ul {
    padding-top: 5em;
    margin: 12em 0 0 -8px;
    font-family: 'Quicksand', sans-serif;
}

ul li {
    display: block;
}

ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
}

ul li a:hover {
    background-color: #5c7da0;
    transition: all 0.2s ease-in-out;
}

hr {
    margin: 10em 0 0 0;
}


/* footer {
    margin: 3.5em 0 0 0;
    font-family: 'Quicksand', sans-serif;
} */

h1 p {
    margin: 14px 0 0 11px;
    float: right;
    font-size: 12px;
}


/* CONTAINER */

.container {
    position: absolute;
    top: 7em;
    left: 20em;
}


/* SEARCH ENGINE */

.search-engine label {
    margin: -4em 0 0 3.2em;
    float: left;
    width: 247px;
    display: inline-block;
    text-align: left;
    padding-bottom: 5px;
    color: white;
}

.search-engine input {
    margin: 0 0 0 -58em;
    transform: translate(6%, -5vh);
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.search-engine button {
    display: inline-block;
    position: absolute;
    margin: -2.4em 0 0 3em;
    border-radius: 10px;
}

.container-content input {
    margin: 12px 0 0 0;
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.container-content input:hover {
    box-shadow: 0 0 1px 2px #6898f8;
}

.container-content-select label,
select {
    margin: 10em 0 0 -34em;
    display: inline-block;
    text-align: left;
    padding-bottom: 5px;
}

.container-content-select select:hover,
.container-content-select1 #stats:hover {
    background-color: rgba(7, 0, 36, 0.313);
    color: white;
}

.container-content-select select,
.container-content-select1 #stats {
    border-radius: 7px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
}

.container-content-select1 label,
#stats {
    transform: translate(-18em, -2em);
    text-align: left;
    padding-bottom: 5px;
}

.container2 {
    position: absolute;
    margin: 1em 0 0 0;
    width: 100em;
}

.container2 .container-content {
    display: inline-block;
    float: left;
    margin-right: 3em;
    width: 25%;
}

.container-content button {
    margin: 5em 0 0 1em;
    border-radius: 7px;
    height: 45px;
    width: 85px;
}

.container-content .save {
    background-color: #FFFFFF;
    outline: none;
    border: 2px solid rgb(7, 255, 7);
    transition: all 0.2s ease-in-out;
}

.container-content .save:hover {
    background-color: rgb(7, 224, 0);
    color: white;
}

.container-content label {
    margin: 0 0 0 -3em;
    width: 247px;
    display: inline-block;
    text-align: left;
    padding-bottom: 5px;
}

.output {
    border-radius: 5px;
    margin: 31.7em 0 0 20em;
    position: absolute;
    background-color: #1f1f1f;
    width: 86.8em;
    height: 17em;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

table {
    border-collapse: collapse;
}