@media only screen and (min-width: 1280px) {
    #navigation {
        position: fixed;
        width: 300px;
        height: 100vh;
        background: #00323c;
        transition: all 0.3s ease-in-out;
    }
    ul {
        margin: 58px -14px;
        font-family: "Quicksand", sans-serif;
    }
    #navigation ul li {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        transition: all 0.2s ease;
    }
    #navigation ul li a:hover {
        text-align: center;
        width: 308px;
        background-color: #004452f7;
    }
    #navigation ul li a {
        text-decoration: none;
        color: aliceblue;
        font-size: 17px;
        text-align: center;
        margin: 0 -1.5em;
        list-style-type: none;
        height: 5em;
        width: 301px;
        padding-top: 1.5em;
        transition: all 0.3s ease;
    }
    #navigation ul li a {
        text-align: left;
    }
    #navigation ul li a p {
        color: #01bde3f7;
    }
    .side-bar {
        margin: 10px;
        color: aliceblue;
        padding-bottom: 1em;
    }
    .tophead {
        margin: 0;
        width: 100%;
        height: 60px;
        background: #004e5d;
    }
    /*________________________footer properties________________________ */
    .footer {
        height: 364px;
        background: #021316f7;
        margin: -58px 0;
    }
    /*________________________END________________________ */
}

@media only screen and (min-width: 1900px) {
    #navigation {
        position: fixed;
        width: 300px;
        height: 100vh;
        box-shadow: 2px 0px 4px #383838;
        left: 0;
        transition: all 0.3s ease;
    }
    ul {
        margin: 93px -14px;
        font-family: "Quicksand", sans-serif;
    }
    #navigation ul li {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        transition: all 0.2s ease;
    }
    #navigation ul li a:hover {
        text-align: center;
        width: 308px;
        background-color: #004452f7;
    }
    #navigation ul li a {
        text-decoration: none;
        font-size: 17px;
        list-style-type: none;
        display: block;
        width: 301px;
        color: #03b1d4f7;
        text-align: justify;
        transition: all 0.2s ease;
    }
    .side-bar {
        margin: 10px;
        color: aliceblue;
        padding-bottom: 1em;
    }
    .tophead {
        margin: 0;
        width: 100%;
        height: 60px;
        background: #004e5d;
    }
    /*________________________footer properties________________________ */
    .footer {
        height: 79px;
        background: #021316f7;
        margin: -4px 0;
    }
    /*________________________END________________________ */
}