.container-style {
    border-radius: 7px;
    box-shadow: -1px -1px 3px 1px rgb(0 0 0 / 47%), 1px 1px 3px 1px rgb(0 0 0 / 47%);
}

.input-style {
    border: none;
    border-bottom: 1px solid rgb(209 209 209);
    outline: none;
    border-radius: 7px;
    height: 41px;
    width: 330px;
    padding-left: 19px;
    transition: all 0.3s ease;
}

.input-style:hover {
    filter: drop-shadow(0 0 2px rgb(0, 162, 255));
}

.input-style:focus {
    filter: drop-shadow(0 0 2px #07c8eff7);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-bg {
    height: 119px;
    width: 100%;
    display: flex;
}

.search-style {
    border: none;
    margin: 6px -288px;
    border-radius: 40px;
    border: 3px solid #07c8eff7;
    width: 53px;
    height: 63px;
    padding-left: 61px;
    transition: all 0.2s ease;
}

#search_e {
    background: white;
    height: 0;
    width: 0;
    margin: 13px -278px;
    border-radius: 400px;
    border: none;
    position: absolute;
    transition: all 0.3s ease;
}

.search-style:hover {
    width: 330px;
}

.search-style:focus {
    width: 330px;
    height: 63px;
}

.search {
    display: flex;
    height: 52px;
    margin: 5px 287px;
    width: 400px;
    border-radius: 37px;
    background: white;
}

.center {
    display: flex;
    justify-content: center;
}

.size {
    /*this is the size of search icon*/
    height: 20px;
    width: 20px;
}

.bx {
    float: left;
    height: 20px;
}

.bx-margin {
    margin: 17px 15px;
}

.button {
    height: 50px;
    width: 100px;
    background: white;
    border: none;
    border-bottom: 4px solid #858585bf;
    border-radius: 8px;
    float: right;
    margin: 87px 18px;
}

.save {
    background: none;
    transition: all 0.2s ease;
}

.save:hover {
    background: #00f500b8;
    border: none;
}

.update {
    background: none;
    transition: all 0.2s ease;
}

.update:hover {
    background: #007de4d5;
    border: none;
}

.delete {
    background: none;
    transition: all 0.2s ease;
}

.delete:hover {
    background: #df0707d5;
    border: none;
}

