/*________________________Input Properties________________________ */

.input-style {
    border: none;
    border: 1px solid rgb(209 209 209);
    outline: none;
    border-radius: 3px;
    height: 41px;
    width: 367px;
    transition: all 0.1s ease;
}

.input-style:hover {
    border-color: rgb(0, 162, 255);
}

.input-style:focus {
    border: none;
}

.input-style:focus {
    border-bottom: 2px solid darkgray;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.inpt-pl20 {
    padding-left: 20px;
}


/*________________________END________________________ */


/*________________________For Search Icon Properties________________________ */

.search-style {
    border: none;
    margin: 6px -288px;
    border-radius: 40px;
    border: 1px solid #07c8eff7;
    width: 53px;
    height: 63px;
    padding-left: 61px;
    transition: all 0.2s ease;
}

#search_e {
    background: white;
    height: 0;
    width: 0;
    margin: 13px -278px;
    border-radius: 400px;
    border: none;
    position: absolute;
    transition: all 0.3s ease;
}

.search-style:hover {
    width: 330px;
    border: 1px solid #07c8eff7;
}

.search-style:focus {
    width: 330px;
    height: 63px;
    border: 1px solid #07c8eff7;
}

.search {
    display: flex;
    height: 52px;
    margin: 5px 287px;
    width: 400px;
    border-radius: 37px;
    background: white;
}

.center {
    display: flex;
    justify-content: center;
}

.size {
    height: 20px;
    width: 20px;
}

.bx {
    float: left;
    height: 20px;
}

.bx-margin {
    margin: 17px 15px;
}


/*________________________END________________________ */


/*________________________Button Properties________________________ */

.button {
    height: 50px;
    width: 90px;
    background: white;
    border: none;
    border-bottom: 3px solid #858585bf;
    border-radius: 2px;
    float: right;
    margin: 87px 18px;
}

.save {
    background: none;
    transition: all 0.2s ease;
}

.save:hover {
    background: #00f500b8;
    border: none;
}

.update {
    background: none;
    transition: all 0.2s ease;
}

.update:hover {
    background: #007de4d5;
    border: none;
}

.delete {
    background: none;
    transition: all 0.2s ease;
}

.delete:hover {
    background: #df0707d5;
    border: none;
}


/*________________________END________________________ */


/*________________________different size of container________________________ */

.container-large {
    height: 730px;
}

.container-medium {
    height: 560px;
}

.container-small {
    height: 450px;
}

.container-xsmall {
    height: 250px;
}

.container-xmedium {
    height: 610px;
}


/*________________________END________________________ */


/*________________________Table Properties________________________ */

.output table {
    width: 97%;
    margin: 20px;
    height: 266px;
}


/*________________________END________________________ */


/*________________________schedule onclick button________________________ */

.submit-btn {
    height: 22px;
    border-radius: 4px;
    margin: -31px -42px;
    width: 83px;
    border: 1px solid rgb(25, 188, 0);
    outline: none;
    position: absolute;
    padding: 22px;
}


/*________________________END________________________ */


/*________________________Container Properties________________________ */

.container-style {
    margin: 29px 158px;
}

.container-style label {
    margin: 29px 0;
}


/*________________________END________________________ */


/*________________________Banner properties________________________ */

@media only screen and (min-width: 1200px) {
    .banner {
        height: 60px;
        width: 80%;
        margin: 12px 309px;
        background-color: #068de5;
    }
    .banner2 {
        height: 60px;
        width: 80%;
        margin: 15px 309px;
        background-color: #068de5;
    }
    .container {
        margin: 2px 308px;
        width: 80%;
        background: white;
        height: 692px;
        border-radius: 2px;
        box-shadow: -1px -1px 20px 0px rgb(0 0 0 / 20%);
    }
}


/*________________________different size of container________________________ */

.container-large {
    height: 730px;
}

.container-medium {
    height: 560px;
}

.container-small {
    height: 450px;
}

.container-xsmall {
    height: 250px;
}

.container-xmedium {
    height: 610px;
}


/*________________________END________________________ */

@media only screen and (min-width: 1900px) {
    .banner {
        height: 60px;
        width: 83.4%;
        margin: 12px 309px;
        background-color: #068de5;
    }
    .banner2 {
        height: 60px;
        width: 80%;
        margin: 15px 309px;
        background-color: #068de5;
    }
    /*________________________different size of container________________________ */
    .container-large {
        height: 730px;
    }
    .container-medium {
        height: 560px;
        margin: 2px 308px;
        width: 83.3%;
        background: white;
        height: 692px;
        border-radius: 2px;
        box-shadow: -1px -1px 20px 0px rgb(0 0 0 / 20%);
    }
    .container-small {
        height: 450px;
    }
    .container-xsmall {
        height: 250px;
    }
    .container-xmedium {
        height: 610px;
    }
    /*________________________END________________________ */
    .search-bg {
        height: 95px;
        width: 100%;
        display: flex;
        margin: 10px 23px;
    }
    .search {
        margin: 16px 287px;
    }
    .form {
        margin: 23px 0;
    }
}